{% extends "layout.html" %}

{% block title %}
    Real
{% endblock %}

{% block main %}
    <h3>Real</h3>
    <table class="table table-bordered">
        <thead>
            <tr>
                <th scope="col">Transaction</th>
                <th scope="col">Name</th>
                <th scope="col">Ammount</th>
                <th scope="col">Date start</th>
                <th scope="col">Date end</th>
                <th scope="col">Operation</th>
                <th scope="col">Price</th>
                <th scope="col">Total Price</th>
            </tr>
        </thead>
        <tbody>
            {% if real|length > 0 %}
                {% for data in real %}
                    <tr>
                        <td>{{data.transactionid}}</td>
                        <td>{{data.name}}</td>
                        <td>{{data.ammount}}</td>
                        <td>{{data.date_start}}</td>
                        <td>{{data.date_end}}</td>
                        <td>{{data.operation}}</td>
                        <td style="text-align: right">{{data.price}}</td>
                        <td style="text-align: right">{{data.total_price}}</td>
                    </tr>
                {% endfor %}
                <tr>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td style="text-align: right"><strong>TOTAL</strong></td>
                    <td style="text-align: right">{{total}}</td>
                </tr>
            {% endif %}
        </tbody>
    </table>
{% endblock %}
